name: Build Windows

permissions:
  packages: write

on:
  push:
    branches: [ '*' ]
  release:
    branches: [ main ]

jobs:
  build-windows:
    runs-on: windows-latest
    env:
      USERNAME: ${{ github.actor }}
      VCPKG_INSTALLATION_ROOT: C:/vcpkg
      FEED_URL: https://nuget.pkg.github.com/Drm-tools/index.json
      VCPKG_BINARY_SOURCES: "clear;nuget,https://nuget.pkg.github.com/Drm-tools/index.json,readwrite"
      QTDIR: C:\\vcpkg\\packages\\qt5-base_x64-windows\\tools\\qt5
    steps:
    # Set env vars needed for vcpkg to leverage the GitHub Action cache as a storage
    # for Binary Caching.
    - uses: actions/github-script@v7
      with:
        script: |
            core.exportVariable('ACTIONS_CACHE_URL', process.env.ACTIONS_CACHE_URL || '');
            core.exportVariable('ACTIONS_RUNTIME_TOKEN', process.env.ACTIONS_RUNTIME_TOKEN || '');

    - uses: ilammy/msvc-dev-cmd@v1

    - name: Bootstrap vcpkg
      shell: pwsh
      run: C:/vcpkg/bootstrap-vcpkg.bat

    - name: Checkout code
      uses: actions/checkout@v4

    - name: Add NuGet sources
      shell: pwsh
      run: |
        .$(vcpkg fetch nuget) `
          sources add `
          -Source "${{ env.FEED_URL }}" `
          -StorePasswordInClearText `
          -Name GitHubPackages `
          -UserName "${{ env.USERNAME }}" `
          -Password "${{ secrets.GITHUB_TOKEN }}"
        .$(vcpkg fetch nuget) `
          setapikey "${{ secrets.GITHUB_TOKEN }}" `
          -Source "${{ env.FEED_URL }}"

    - name: Install dependencies with vcpkg
      run: |
        ren vcpkg.json.win vcpkg.json
        vcpkg --triplet x64-windows install

    - name: Prep
      shell: bash
      run: |
        mkdir -p include
        for i in `find $VCPKG_INSTALLATION_ROOT/packages -name include -a -print`
        do
          cp -r $i/* include
        done
        mkdir -p lib
        for l in `find $VCPKG_INSTALLATION_ROOT/packages -name lib -a -print`
        do
          cp -r $l/* lib
        done
        echo 'uic['
        find $VCPKG_INSTALLATION_ROOT -name uic.exe -a -print
        echo ']uic'
        echo $QTDIR/bin >> $GITHUB_PATH
        echo $VCPKG_INSTALLATION_ROOT/packages/qt5-tools_x64-windows/tools/qt5-tools/bin >> "$GITHUB_PATH"

    - name: Download hamlib
      uses: robinraju/release-downloader@v1
      with:
        repository: 'Hamlib/Hamlib'
        tag: '4.6.5'
        fileName: 'hamlib-w64-4.6.5.zip'
        extract: true

    - name: Move hamlib files where dream.pro expects
      run: |
        New-Item -path include -ItemType Directory -Force
        New-Item -path lib -ItemType Directory -Force
        robocopy /s hamlib-w64-4.6.5/include include
        lib /def:hamlib-w64-4.6.5/lib/msvc/libhamlib-4.def /machine:x64 /out:lib/hamlib.lib

    - name: Build Gui
      run: |
        qmake
        type Makefile.release
        nmake
        windeployqt -opengl -printsupport release

    - name: Build Console 
      if: false
      run: |
        qmake "CONFIG+=console"
        nmake
        copy release/dream.exe cdream.exe

    - name: Copy DLLs to release folder
      run: |
        copy lib/*.dll release
        copy $Env:VCPKG_INSTALLATION_ROOT/installed/x64-windows/bin/*.dll release
        copy hamlib-w64-4.6.5/bin/*.dll release

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: dream-windows
        path: release/*
