name: Build_Linux

permissions:
  packages: write

on:
  push:
    branches: [ main, Debian-packaging ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install dependencies (Ubuntu)
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt update
        sudo apt install -y libhamlib-dev libpulse-dev libfftw3-dev libopus-dev libsndfile-dev zlib1g-dev
        sudo apt install -y libspeexdsp-dev libgps-dev libpcap-dev libfdk-aac-dev libsoapysdr-dev
        sudo apt install -y libqwt-qt5-dev libqt5svg5-dev libqt5opengl5-dev libqt5gui5 libqt5widgets5
        sudo apt install -y qtbase5-dev qtbase5-dev-tools qt5-qmake build-essential debhelper qtchooser fakeroot

    - name: Package
      run: |
        echo  ${{ github.ref_name }}
        tar zcf dream_${{ github.run_id }}.orig.tar.gz AUTHORS COPYING ChangeLog DreamTests INSTALL NEWS README TODO dream.pro libs linux macx src windows
        mkdir build
        cp -r debian build
        cd build
        tar xf ../dream_${{ github.run_id }}.orig.tar.gz
        dpkg-buildpackage -us -uc -b

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: dream_${{ github.run_id }}_amd64_${{ matrix.os }}.deb
        path: dream_2.4.1-1_amd64.deb
