name: Build Linux

permissions:
  packages: write

on:
  push:
    branches: [ '*' ]
  release:
    branches: [ main ]

jobs:
  build:
    if: true
    runs-on: ${{ matrix.os }}-latest
    strategy:
      matrix:
        os: [ubuntu]
        arch: [x64]

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        
    - name: Import GPG Key
      run: |
         printf "%s" "${{ secrets.GPG_SIGNING_KEY }}" > private.key
         gpg --batch --passphrase "${{ secrets.GPG_SIGNING_PASSPHRASE }}" --import private.key
         rm private.key
         echo NAME=`gpg --list-keys|awk -F'[\]<>]' '/uid/ {print $2}'` >> $GITHUB_ENV
         echo DEBEMAIL=`gpg --list-keys|awk -F'[\]<>]' '/uid/ {print $3}'` >> $GITHUB_ENV

    - name: Install dependencies (Ubuntu)
      if: matrix.os == 'ubuntu'
      run: |
        sudo apt-get update

        sudo apt-get install -y \
          libhamlib-dev libpulse-dev libfftw3-dev libopus-dev libsndfile-dev \
          zlib1g-dev libspeexdsp-dev libgps-dev libpcap-dev libsoapysdr-dev \
          libqwt-qt5-dev libqt5svg5-dev libqt5opengl5-dev libqt5gui5 libqt5widgets5 \
          qtbase5-dev qtbase5-dev-tools qt5-qmake build-essential \
          debhelper devscripts qtchooser fakeroot git2cl
    - name: Install dependencies (vcpkg)
      run: |
       vcpkg install --triplet ${{ matrix.arch }}-linux fdk-aac[he-aac]
       echo "PKG_CONFIG_PATH=$VCPKG_INSTALLATION_ROOT/installed/${{ matrix.arch }}-linux/lib/pkgconfig:$PKG_CONFIG_PATH" >> $GITHUB_ENV
         
    - name: create changelog
      env:
        GH_TOKEN: ${{ github.token }}
        USERNAME: ${{ env.NAME }}
        EMAIL: ${{ env.DEBEMAIL }}
      run: |
        export RELEASE_TAG=`gh release list --limit 1 --exclude-drafts --json tagName --jq '.[].tagName'`
        echo RELEASE_TAG=${RELEASE_TAG} >> $GITHUB_ENV
        truncate -s 0 debian/changelog
        for r in `gh release list --exclude-drafts --json tagName --jq '.[].tagName'`
        do
          echo "dream ($r-build0) unstable; urgency=medium" >> debian/changelog
          echo >> debian/changelog
          git log -1 --format='  * %s' $r -- >> debian/changelog
          echo >> debian/changelog
          git log -1 --format=' -- %an <%ae>  %aD' $r -- >> debian/changelog
        done
        dch -R packaging 
        python3 -c "print('ARCH='+{'x64': 'amd64'}['${{matrix.arch}}'])" >> $GITHUB_ENV

    - name: Make Binary Package
      if: false
      run: |
        tar zcf dream_${{ github.run_id }}.orig.tar.gz AUTHORS COPYING ChangeLog INSTALL NEWS README TODO dream.pro src
        mkdir build
        cp -r debian build
        cd build
        tar xf ../dream_${{ github.run_id }}.orig.tar.gz
        dpkg-buildpackage -us -uc -b
        cd ..
        mkdir artifacts
        mv dream_${RELEASE_TAG}_${ARCH}.deb artifacts/dream_${{ github.run_id }}_${ARCH}_${{ matrix.os }}.deb

    - name: Make Source Package
      run: |
        echo '#!/bin/sh' > batchsign
        echo 'echo $@' >> batchsign
        echo gpg --batch --passphrase "${{ secrets.GPG_SIGNING_PASSPHRASE }}" $@ >> batchsign
        chmod +x batchsign
        cat batchsign
        tar zcf dream_${RELEASE_TAG}.orig.tar.gz AUTHORS COPYING ChangeLog INSTALL NEWS README dream.pro linux src
        mkdir build
        cp -r debian build
        cd build
        tar xf ../dream_${RELEASE_TAG}.orig.tar.gz
        dpkg-buildpackage -S --force-sign -p../batchsign
        echo =============
        cd ..
        rm batchsign
        ls

    - name: Upload to ppa
      run: |
        dput ppa:drm-tools/ppa dream_${RELEASE_TAG}-build1_source.changes

    - name: Upload artifact
      if: ${{ github.event_name == 'push' }}
      uses: actions/upload-artifact@v4
      with:
        name: dream_${{ env.ARCH}}_${{ matrix.os }}
        path: artifacts
    
    - name: Upload release binaries
      if: ${{ github.event_name == 'release' }}
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: artifacts/*
        file_glob: true
        tag: ${{ github.ref }}
