name: test soapysdr on Linux

permissions:
  packages: write

on:
  pull_request:
    branches: [ none ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        arch: [x64]

    steps:
  
    - name: Install dependencies (Ubuntu)
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt-get update
        sudo apt-get install -y libsoapysdr-dev soapysdr-tools

    - name: test
      run: |
        SoapySDRUtil --find
        echo $?e
